# Modo universidad: SQL Server Authentication
SQL_AUTH_MODE=sql
SQL_SERVER=TU_SERVIDOR_SQL
SQL_DATABASE=StudentDigitalBehaviorDB
SQL_USERNAME=TU_USUARIO
SQL_PASSWORD=TU_PASSWORD
SQL_DRIVER=SQL Server
RESET_BEFORE_LOAD=no

# Modo casa: Windows Authentication
# SQL_AUTH_MODE=windows
# SQL_SERVER=TU_PC\SQLEXPRESS
# SQL_DATABASE=StudentDigitalBehaviorDB
# SQL_USERNAME=
# SQL_PASSWORD=
# SQL_DRIVER=SQL Server
# RESET_BEFORE_LOAD=no
